@model PresupuestoViewModel




<form asp-controller="Presupuestos" asp-action="CrearPresupuestoPost" method="post">
    <input hidden asp-for="@Model.presupuesto.IdPresupuesto">
    <div class="form-group">
        <label asp-for="@Model.presupuesto.FechaCreacion"></label>
        <input asp-for="@Model.presupuesto.FechaCreacion" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Seleccionar Cliente:</label>
        @foreach (var cliente in Model.listaClientes)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ClienteSeleccionado" value="@cliente.ClienteId" id="@cliente.ClienteId">
                <label class="form-check-label" for="@cliente.ClienteId">
                    @cliente.Nombre
                </label>
            </div>
        }
    </div>
    
    <input class="btn btn-primary m-1 " type="submit" value="Registrar"></input>
</form>