@model Presupuesto

            <div  class="border  m-1 rounded p-1">
                <p>Id: @Model.IdPresupuesto </p>
                <p>ClienteId: @Model.Cliente.ClienteId </p>
                <p>Fecha Creacion: @Model.FechaCreacion.ToString("dd/MM/yyyy") </p>
                
                <form asp-controller="Presupuestos" asp-action="AgregarProducto" method="get">
                    <input type="hidden" name="IdPresupuesto" value="@Model.IdPresupuesto" />
                    <input type="hidden" name="ClienteId" value="@Model.Cliente.ClienteId" />
                    <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion.Date" />
                    <input class="btn btn-success" type="submit" value="Añadir Producto"></input>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach(PresupuestoDetalle pd in Model.Detalle)
                {
                    <tr>
                        <td>@pd.Producto.IdProducto</td>
                        <td>@pd.Producto.Descripcion</td>
                        <td>@pd.Producto.Precio.ToString("C")</td>
                        <td>@pd.Cantidad</td>
                    </tr>
                }
                    </tbody>
                </table>
            </div>

    