@model List<Presupuesto>

        <form asp-controller="Presupuestos" asp-action="CrearPresupuesto" method="get">
                    <input class="btn btn-success" type="submit" value="Crear Presupuesto"></input>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ClienteId</th>
                    <th>Fecha Creacion</th>
                    <th>Ver más</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
            <tbody>
            
        @foreach(Presupuesto p in Model)
        {
            <tr>
                <th> @p.IdPresupuesto</th>
                <td> @p.Cliente.ClienteId</td>
                <td> @p.FechaCreacion.ToString("dd/MM/yyyy")</td>
                <td>
                    <form asp-controller="Presupuestos" asp-action="DetallePresupuesto" method="get">
                    <input hidden name="id" value="@p.IdPresupuesto">
                    <input hidden name="ClienteId" value="@p.Cliente.ClienteId">
                    <input class="btn btn-primary" type="submit" value="Ver más"></input>
                    </form>
                </td>
                <td>
                    <form asp-controller="Presupuestos" asp-action="ModificarPresupuesto" method="get">
                        <input type="hidden" name="IdPresupuesto" value="@p.IdPresupuesto" />
                        <input type="hidden" name="ClienteId" value="@p.Cliente.ClienteId" />
                        <input type="hidden" name="FechaCreacion" value="@p.FechaCreacion.Date" />
                        <input class="btn btn-warning" type="submit" value="Modificar"></input>
                    </form>
                </td>
                <td>
                    <form asp-controller="Presupuestos" asp-action="EliminarPresupuesto" method="get">
                    <input type="hidden" name="IdPresupuesto" value="@p.IdPresupuesto" />
                    <input type="hidden" name="ClienteId" value="@p.Cliente.ClienteId" />
                    <input type="hidden" name="FechaCreacion" value="@p.FechaCreacion.Date" />
                    <input class="btn btn-danger" type="submit" value="Eliminar"></input>
                    </form>
                </td>
            </tr>
        }
            </tbody>
        </table>