@model Presupuesto

            <div  class="border  m-1 rounded p-1">
                <p>Id: @Model.IdPresupuesto </p>
                <p>Nombre Destinatario: @Model.NombreDestinatario </p>
                <p>Fecha Creacion: @Model.FechaCreacion </p>
                
                <form asp-controller="Presupuestos" asp-action="AddProductoForm">
                    <input type="hidden" name="IdPresupuesto" value="@Model.IdPresupuesto" />
                    <input type="hidden" name="NombreDestinatario" value="@Model.NombreDestinatario" />
                    <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion.Date" />
                    <input class="btn btn-success" type="submit" value="Añadir Producto"></input>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach(PresupuestoDetalle pd in Model.Detalle)
                {
                    <tr>
                        <td>@pd.Producto.IdProducto</td>
                        <td>@pd.Producto.Descripcion</td>
                        <td>@pd.Producto.Precio</td>
                        <td>@pd.Cantidad</td>
                    </tr>
                }
                    </tbody>
                </table>
            </div>

    