@model List<Producto>

        <form asp-controller="Producto" asp-action="CrearProducto" method="get">
            <input class="btn btn-success" type="submit" value="Crear Producto"></input>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
            <tbody>
            
        @foreach(var p in Model)
        {
            <tr>
                <th> @p.IdProducto</th>
                <td> @p.Descripcion</td>
                <td> @p.Precio.ToString("C")</td>
                <td>
                    <form asp-controller="Producto" asp-action="ModificarProducto" method="get">
                        <input type="hidden" name="IdProducto" value="@p.IdProducto" />
                        <input type="hidden" name="Descripcion" value="@p.Descripcion" />
                        <input type="hidden" name="Precio" value="@p.Precio" />
                        <input class="btn btn-warning" type="submit" value="Modificar"></input>
                    </form>
                </td>
                <td>
                    <form asp-controller="Producto" asp-action="EliminarProducto" method="get">
                        <input type="hidden" name="IdProducto" value="@p.IdProducto" />
                        <input type="hidden" name="Descripcion" value="@p.Descripcion" />
                        <input type="hidden" name="Precio" value="@p.Precio" />
                        <input class="btn btn-danger" type="submit" value="Eliminar"></input>
                    </form>
                </td>
            </tr>
        }
            </tbody>
        </table>

