@model Cliente

<form asp-controller="Cliente" asp-action="CrearCliente">
    <input hidden asp-for="@Model.ClienteId">
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control" required/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono" class="form-control" required/>
    </div>
    <input class="btn btn-primary m-1 " type="submit" value="Registrar"></input>
</form>

@{
/*
<form asp-controller="Cliente" asp-action="CrearCliente" method="post">
    <div class="form-group">
        <label id="Nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label id="Email">Email:</label>
        <input name="Email" id="Email" placeholder="miemail@gmail.com" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label id="Telefono">Telefono:</label>
        <input name="Telefono" id="Telefono" type="text" class="form-control" />
    </div>
    <input class="btn btn-primary m-1 " type="submit" value="Registrar"></input>
</form>
*/
}
